@charset "utf-8";

.slideshow{
    margin: 0 auto;
    padding-top: 60px;
    height: 800px;
    background: paleturquoise;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 200px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
    
}
.slides{
    width: 100%;
    position: absolute;
    float: right;
    animation: r;
}